@page "/cultivos"

<h2 align="center">Nuestros servicios</h2>
<p>Nos dedicamos a la siembra y cultivo de:</p>

<div class="crop-list">
    <div class="crop-item">
        <img src="resources/images/crops/cana-de-azucar.png" width="50" alt="Caña de azúcar" />
        <h4>Caña de azúcar</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/crops/trigo.png" width="50" alt="Trigo" />
        <h4>Trigo</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/crops/soja.png" width="50" alt="Soja" />
        <h4>Soja</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/crops/calabaza.png" width="50" alt="Zapallo" />
        <h4>Zapallo</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/crops/centeno-planta.png" width="50" alt="Centeno" />
        <h4>Centeno</h4>
    </div>
</div>
<h1></h1>

@code {
    
}
