@page "/"
<PageTitle>Inicio - La Quimera</PageTitle>
@* <img src="resources/images/logo.png" alt="Logo" class="title-image"> *@
<h2>Bienvenido a nuestra página web!</h2>
<p>Nos dedicamos a la siembra y cultivo de:</p>

<div class="crop-list">
    <div class="crop-item">
        <img src="resources/images/cana-de-azucar.png" width="50" alt="Caña de azúcar" />
        <h4>Caña de azúcar</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/trigo.png" width="50" alt="Trigo" />
        <h4>Trigo</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/soja.png" width="50" alt="Soja" />
        <h4>Soja</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/calabaza.png" width="50" alt="Zapallo" />
        <h4>Zapallo</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/centeno-planta.png" width="50" alt="Centeno" />
        <h4>Centeno</h4>
    </div>
</div>

<p>Además, ofrecemos servicios de pulverización y cosecha de caña de azúcar.</p>
<p>
    Somos una empresa en constante desarrollo y expansión, buscando dar una buena experiencia y
    comodidad a nuestros clientes.
</p>
@* <img src="resources/images/cultivos-siembra.png" alt="Campo" style="width: 5%; height: auto;" /> *@