@page "/"
<PageTitle>Inicio - La Quimera</PageTitle>
@* <img src="resources/images/logo.png" alt="Logo" class="title-image"> *@
<h2>Bienvenido a nuestra página web!</h2>
<p>Somos una empresa en constante desarrollo y expansión, buscando dar una buena experiencia y
    comodidad a nuestros clientes.</p>
@* <img src="resources/images/cultivos-siembra.png" alt="Campo" style="width: 5%; height: auto;" /> *@