@page "/servicios"

<h2 align="center">Nuestros servicios</h2>
<div class="crop-list">
    <div class="crop-item">
        <img src="resources/images/implements/cosechadora.png" width="50" alt="Cosecha de Caña" />
        <h4>Cosecha de Caña</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/implements/pulverizadora.png" width="50" alt="Pulverización" />
        <h4>Aplicaciones a Cultivos</h4>
    </div>
    <div class="crop-item">
        <img src="resources/images/implements/tractor.png" width="50" alt="Siembra" />
        <h4>Siembra de Cultivos</h4>
    </div>
</div>
<h1></h1>

@code {
    
}
