@page "/sobre-nosotros"

<h3 align="center">Sobre nosotros 🙋‍♂️</h3>
<p align="center">Somos una empresa en constante mejora, nos dedicamos al cultivo y la siembra; 
    contamos con una gran variedad de cañas de azucar, y también sin antes mencionar que; 
    actualmente estamos habilitado con certificación orgánica.</p>
<p align="center"><img width="40" src="resources/images/certificado.png" /></p>
<h3 align="center">Nuestras redes 🙋‍♂️</h3>
<p>#1</p>
<p>#2</p>
<p>#3</p>
<h1></h1>

