@inherits LayoutComponentBase

<div class="page">
    <header>
        @* <h1><img src="resources/images/logoLeon.png" alt="Imagen Título" class="title-image">LA QUIMERA S.A</h1> *@
        @* <h1><img src="resources/images/logo.png" alt="Imagen Título" class="title-image"></h1> *@
        <img src="resources/images/logo.png" width="500" alt="Soja" />
    </header>

    <nav>
        <a href="/">Inicio</a>
        <a href="Cultivos">Cultivos</a>
        <a href="Servicios">Servicios</a>
        <a href="Sobre-nosotros">Sobre Nosotros</a>
    </nav>

    <main>
        @Body
    </main>

    <footer>
        &copy; 2024 La Quimera S.A - Todos los derechos reservados
    </footer>
</div>