body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f9f0; /* Verde claro */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #204921; /* Verde oscuro */
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #2D5425; /* Verde medio */
    padding: 1rem;
}

    nav a {
        color: white;
        text-decoration: none;
        padding: 0.5rem;
    }

        nav a:hover {
            text-decoration: underline;
        }

main {
    padding: 1rem;
}

footer {
    background-color: #2D5425; /* Verde oscuro */
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.crop-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-height: 300px; /* Añadido para limitar la altura */
    overflow-y: auto; /* Añadido para permitir el scroll vertical */
    border: 1px solid #ccc; /* Opcional: para darle un borde al contenedor */
    padding: 10px; /* Opcional: para añadir padding dentro del contenedor */
}

.crop-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 200px;
}

.crop-item:hover {
        transform: translateY(-5px); /* Mueve el elemento hacia arriba */
}

.crop-item img {
        max-width: 100px;
        height: auto;
        border-radius: 8px;
}

.crop-item h4 {
        color: #2e7d32; /* Verde oscuro */
        font-size: 1.2rem;
        margin: 0;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../fonts/galano-grotesque.woff2') format('woff2'), /* Formato WOFF2 para navegadores modernos */
    url('../fonts/galano-grotesque.woff') format('woff'); /* Formato WOFF para compatibilidad con navegadores más antiguos */
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Importante para mejorar la experiencia de carga */
}

h1 {
    font-family: 'Galano Grotesque', sans-serif; /* Aplica la fuente Galano Grotesque */
    color: #DCDCDC; /* Color para el título */
    font-size: 2.5rem; /* Tamaño del título */
}

.title-image {
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Altura automática según la proporción */
    margin-right: 1rem; /* Espacio entre la imagen y el texto */
}

p {
    margin: 5px 0; /* Reduce el margen entre los párrafos */
}

/* Ejemplo de media query para teléfonos */
@media (max-width: 768px) {
    .crop-list {
        max-height: none;
        overflow-y: visible;
    }
}

/* Ejemplo de media query para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .crop-list {
        max-height: 200px; /* Ajustar según sea necesario */
        overflow-y: auto;
    }
    footer {
        display: none; /* Ocultar el footer en dispositivos pequeños */
    }

}